* { box-sizing: border-box; }

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    background-color: #FAFAFA;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.65;
    color: #555555;
}

a {
    color: #02b875;
}
a:hover {
    color: #000000;
}

header,
footer,
.page-wrapper {
    width: 1170px;
    margin: 0 auto;
}
.page-wrapper-full {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
    margin: 54px 0;
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
}
.page-wrapper-full h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333333;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: -.028em;
}
.page-wrapper-full img {
    max-width: 80%;
    height: auto;
    display: block;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}
ul.menu {
    width: 1170px;
    margin: 0 auto;
    padding: 16px 0;
}
ul.menu li {
    padding-right: 20px;
    display: inline-block;
}
ul.menu li a {
    color: #AAAAAA;
    color: rgba(0, 0, 0, 0.44);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    ul.menu li {
        display: block;
    }
    ul.menu li a {
        width: 100%;
        display: block;
        padding: 8px;
    }
}

ul.menu li a:hover {
    color: #000000;
}

.logo h1 {
    margin: 24px 0 0 0;
}
.logo h1 a {
    font-size: 28px;
    font-weight: 500;
    text-decoration: none;
}

footer {
    font-size: 13px;
}
.grey-copyright {
    text-align: center;
}

@media screen and (max-width: 720px) {
    header,
    footer,
    ul.menu,
    .page-wrapper {
        width: 100%;
    }
}
